In [1]:
import pandas as pd

In [7]:
print('hi\nbye')

hi
bye

In [9]:
for i in range(0,4):  # Rows from 1 to 4
    for j in range(1, i + 2):  # Numbers from 1 to current row number
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

In [11]:

l=['hello',34,5.6,True,23,67,9.9]
print(l)
print(type(l))

# access
print(l[5])
#print(l[7])
print(len(l))

['hello', 34, 5.6, True, 23, 67, 9.9]
<class 'list'>
67
7

In [23]:
l1=[12,34,54,33,22,34,78]
print(l1)
l1.insert(2,44) #index, value
print(l1)

#update
l1[4]=100
print(l1)


l1.insert(4,[1,2,3])
print(l1)
print(l1[4][1])

l1.extend([9,7,6])
print(l1)

l1.append([3,4,5])
print(l1)

print("------------------")
print("------------------")
n=[34,23,10,45,6,23,10]
print(n)
n.sort()
print(n)

n.remove(23)  #Remove first occurence of value,Raises ValueError if the value is not present.
print(n)

print("-------------")
n.pop()
n.pop(2) # return error if index is not present
print(n)

# n.clear()
# print(n)

# append function
l2=[]

for i in n:
    print(i)
    l2.append(i*2)


print(l2)

[12, 34, 54, 33, 22, 34, 78]
[12, 34, 44, 54, 33, 22, 34, 78]
[12, 34, 44, 54, 100, 22, 34, 78]
[12, 34, 44, 54, [1, 2, 3], 100, 22, 34, 78]
2
[12, 34, 44, 54, [1, 2, 3], 100, 22, 34, 78, 9, 7, 6]
[12, 34, 44, 54, [1, 2, 3], 100, 22, 34, 78, 9, 7, 6, [3, 4, 5]]
------------------
------------------
[34, 23, 10, 45, 6, 23, 10]
[6, 10, 10, 23, 23, 34, 45]
[6, 10, 10, 23, 34, 45]
-------------
[6, 10, 23, 34]
6
10
23
34
[12, 20, 46, 68]

In [4]:
l3=[36,89,9]
l3.append([3])
print(l3)

[36, 89, 9, [3]]

In [7]:
l=[i if i%2==0 else i**2 for i in range(20)]
print(l)

[0, 1, 2, 9, 4, 25, 6, 49, 8, 81, 10, 121, 12, 169, 14, 225, 16, 289, 18, 361]

In [10]:
a=[1,2,3,4]
b=[5,6,7,3]

v=[i for i in a for j in b if i==j]
print(v)

[3]

In [11]:
a=(12,34,'hello',True,9.9)
print(a)
print(type(a))

(12, 34, 'hello', True, 9.9)
<class 'tuple'>

In [16]:
a[2]=56
print(a)

TypeError: 'tuple' object does not support item assignment

In [14]:
print(a[3])

True

In [17]:
print(a[::-1])

(9.9, True, 'hello', 34, 12)

In [18]:
print(a)
a=list(a)
print(a)
a[2]=56
a=tuple(a)
print(a)

print(a.index(56))
print(a.count(True))

(12, 34, 'hello', True, 9.9)
[12, 34, 'hello', True, 9.9]
(12, 34, 56, True, 9.9)
2
1

In [19]:
l=[12]
print(type(l))
k=(12,)
print(type(k))

<class 'list'>
<class 'tuple'>

In [24]:
set1={23,45,True,1,'hi','surbhi',45,6.78,100}
print(set1)

print("--------after add")
set1.add(33)
print(set1)

print("--------after update")
set1.update({38,99,88})
#set1.update([38,99,88])
print(set1)

print("----------after pop")
set1.pop()
print(set1)
set1.pop()
print(set1)

set1.remove(100)  # raise error if value is not present
print(set1)

set1.discard(122) #does not raise error if value is not present
print(set1)

{'hi', True, 100, 23, 'surbhi', 6.78, 45}
--------after add
{'hi', True, 33, 100, 23, 'surbhi', 6.78, 45}
--------after update
{True, 33, 99, 100, 'surbhi', 6.78, 38, 45, 'hi', 23, 88}
----------after pop
{33, 99, 100, 'surbhi', 6.78, 38, 45, 'hi', 23, 88}
{99, 100, 'surbhi', 6.78, 38, 45, 'hi', 23, 88}
{99, 'surbhi', 6.78, 38, 45, 'hi', 23, 88}
{99, 'surbhi', 6.78, 38, 45, 'hi', 23, 88}